@mixin styles {
  &__bento {
    display: grid;
    gap: var(--ct-space-4);
    margin-block-end: var(--ct-space-6);
    grid-template-areas:
      'plan'
      'session'
      'diary';

    @container ct-app (min-inline-size: 34rem) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'plan plan'
        'session diary';
    }
  }

  &__bento--plan {
    grid-area: plan;
  }

  &__bento--session {
    grid-area: session;
  }

  &__bento--diary {
    grid-area: diary;
  }
}
